
<div class="container"><br><br>
<h1>Add new item to menu</h1>
  <form method="Post" action="/emenu/<%=current_res_user.id %>/addItem">
   Name: <input type= "text" name= "name" placeholder=" Dish Name" required>
   Description: <input type= "text" name= "des" placeholder="Description" required>
   Price: <input type= "text" name= "price" placeholder="Price" required>

    <input type= "submit" value="Add new item" class="btn btn-primary"/>
  </form>
</div>


<div class="container"><br><br>
  <h1>Delete item from menu</h1>
  <form method="Post" action="/emenu/<%=current_res_user.id %>/delete">
    Name: <input type= "text" name= "name" placeholder=" Dish Name" required>

    <input type= "submit" value="Delete item" formaction="/emenu/<%=current_res_user.id %>/delete" formmethod="Post" class="btn btn-primary"/>
  </form>
</div><br><br><br>



<div class="container">
  <h1>Current menu items</h1>

  <% Dish.all(restaurant_id: current_res_user.id).each do |d| %>
    <br><h3><%=d.dish_name%></h3>
    <p><%=d.dish_des%></p>
    <b><p>$<%='%.2f' % d.dish_price%></p></b>
  <% end %>

</div><br><br>

