

<!--
//
//
//
    Event Info -->
<div class="container">
  <br><br>

    <h1><%=@dinner.id%> - <%=@dinner.title%></h1>
    <h3><%=@dinner.event_date.strftime("%B %d, %Y")%></h3>
  <%rest_name = "undecided" %>
  <% if @dinner.restaurant_id %>
    <% name = Restaurant.first(id: @dinner.restaurant_id)%>
    <%if name%>
    <% rest_name = name.rest_name %>
    <%end%>
  <%end %>
    <h3>Restaurant: <%=rest_name %></h3>









  <!--
//
//
//
    Cancel Event -->
  <% if current_user.id == @dinner.user_id %>
  <form action="/events/delete" method="POST">
    <input type="hidden" name="id" value ="<%=@dinner.id%>"/>
    <br><input type="submit" value="Delete Event" class="btn btn-primary"/>
  </form>
  <br>
    <%end%>
</div>




  <!--
//
//
//
    Invite Friend -->
<div class="container">
  <div class="row">
    <div class="col-md-4">


    <% if current_user.id == @dinner.user_id %>
        <form action= "/events/<%=@dinner.id%>/newFriend" method= "POST">
            <br>
            <label for="email">Invite a friend:</label>
            <input type="email" name="email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="E-mail" required>

            <input type= "submit" value="Submit" class="btn btn-primary"/>
        </form>
        <%else %>
        <form action= "/events/<%=@dinner.id%>/cancel" method= "POST">
        <input type= "submit" value="Cancel Invite" class="btn btn-primary"/>
        </form>

    <%end%>

    <%if @email%>
        <p><%=@user.email%> has been invited!</p>
    <%end%>






  <!--
//
//
//
    Remove Friend -->


    <% if current_user.id == @dinner.user_id %>
      <form action= "/events/<%=@dinner.id%>/deleteFriend" method="POST">
       <br><label for="friendID">Remove friend:</label>
        <input type="text" name="friendID" placeholder="ID" required>
        <input type= "submit" value="Submit" class="btn btn-primary"/>
      </form>
    <%end%>
  </div>






<!--
//
//
//
    Add restaurant  -->
    <div class="col-md-4">


    <% if current_user.id == @dinner.user_id %>

      <% if @dinner.restaurant_id == nil%>
      <form action= "/events/<%=@dinner.id%>/addRes" method="POST">
        <br><label for="rest_name">Select restaurant:</label>
        <input type="text" name="rest_name" placeholder="Name" required>
        <input type= "submit" value="Submit" class="btn btn-primary"/>
      </form><br>
        <%else%>
        <br>
    <%end%>
    <%end%>





      <!--
      //
      //
      //
          Create Poll  -->

  <% if rest_name == "undecided" and @dinner.user_id == current_user.id and (Group.all(event_id: @dinner.id).count + 1 >= 3) %>

    <%if Poll.first(event_id: @dinner.id, start:true) %>
          <%else %>
    <form action= "/events/<%=@dinner.id%>/create_Poll" method="POST">
      <label for="rest_name">Create a Poll:</label>
      <input type="text" name="rest_name" placeholder="Name" required>
      <input type= "submit" value="Submit" class="btn btn-primary"/>
    </form>
          <%end %>

      <%else %>
        <%if @dinner.user_id == current_user.id %>
        <font color="red">Polls require at least 3 attendies</font>
        <%end %>
  <%end %>


</div>
    <% if rest_name == "undecided" and Poll.all(event_id: @dinner.id).count > 0 and @dinner.user_id == current_user.id %>
    <div class="col-md-4">
      <% if Poll.first(event_id: @dinner.id, start: false)%>
      <h5>Current candidates</h5>
      <%Poll.all(event_id: @dinner.id).each do |p| %>
        <% rest = Restaurant.first(id: p.rest_id)%>
        <% if rest %>
          <p>ID: <%=rest.id%>, Name: <%=rest.rest_name%></p>
          <%end %>

      <% end %>
      <% end %>

      <%if Poll.all(event_id: @dinner.id, start: false).count > (Group.all(event_id: @dinner.id).count - 1)%>

          <form action= "/events/<%=@dinner.id%>/startPoll" method="POST">
            <input type= "submit" value="Start the Poll!" class="btn btn-primary"/>
          </form>

        <%else %>
        <%if Poll.all(event_id: @dinner.id, start: true).count > (Group.all(event_id: @dinner.id).count - 1) %>
          <% if Vote.first(user_id: current_user.id, event_id: @dinner.id) == nil %>
            <h5>Vote for restaurant</h5>
          <form action= "/events/<%=@dinner.id%>/vote" method="POST">
          <%Poll.all(event_id: @dinner.id, start:true).each do |c| %>
            <input type="radio"  name="vote" value='<%= c.rest_id %>'> <%=Restaurant.first(id: c.rest_id).rest_name  %></label><br>

            <%end%>
          <input type="submit" value="Submit" class="btn btn-primary">
          </form>
            <%else %>
            <h5>Result</h5>

            <% num = 0 %>
            <%Poll.all(event_id: @dinner.id).each do |p| %>
            <li><%=Restaurant.first(id: p.rest_id).rest_name%>:  <%=Vote.all(event_id: @dinner.id, rest_id: p.rest_id).count %> votes</li>
            <% num += Vote.all(event_id: @dinner.id, rest_id: p.rest_id).count %>
            <%end %>
          <%end %>
          <% count =0 %>
          <% Group.all(event_id: @dinner.id, user_id: current_user.id).each do |n|%>
            <%if n.friend_id != -1 %>
              <% count +=1 %>
            <%end %>
          <%end %>
          <% count +=1 %>

          <!-- Poll Winner  -->
          <% if num == count %>

            <% x =0 %>
            <% name ="" %>
            <%Poll.all(event_id: @dinner.id).each do |p| %>
            <%if Vote.all(event_id: @dinner.id, rest_id: p.rest_id).count > x %>
              <% x = Vote.all(event_id: @dinner.id, rest_id: p.rest_id).count %>
                <%name =Restaurant.first(id: p.rest_id).rest_name %>
              <%end %>
          <%end %>
          <br><h5>Winner: <%=name %></h5>
          <%end%>



          <%else %>
          <h5> Pick another candidate</h5>
          <%end %>


      <%end %>

    </div>
      <%end %>
  </div>





<!--
//
//
//
    Event member to see Poll  -->

<% if Group.first(event_id: @dinner.id, friend_id: current_user.id)%>
    <%if Poll.all(event_id: @dinner.id, start: true).count > (Group.all(event_id: @dinner.id).count - 1) %>
  <div class="col-md-4"><br>

      <% if Vote.first(user_id: current_user.id, event_id: @dinner.id) == nil %>
        <h5>Vote for restaurant</h5>
        <form action= "/events/<%=@dinner.id%>/vote" method="POST">
          <%Poll.all(event_id: @dinner.id, start:true).each do |c| %>
            <input type="radio"  name="vote" value='<%= c.rest_id %>'> <%=Restaurant.first(id: c.rest_id).rest_name  %></label><br>

          <%end%>
          <input type="submit" value="Submit" class="btn btn-primary">
        </form>
  </div>
    <%else %>
      <h5>Result</h5>

      <% num = 0 %>
      <%Poll.all(event_id: @dinner.id).each do |p| %>
        <li><%=Restaurant.first(id: p.rest_id).rest_name%>:  <%=Vote.all(event_id: @dinner.id, rest_id: p.rest_id).count %> votes</li>
        <% num += Vote.all(event_id: @dinner.id, rest_id: p.rest_id).count %>
      <%end %>
      <%end %>
    <% count =0 %>
    <% Group.all(event_id: @dinner.id, user_id: @dinner.user_id).each do |n|%>
      <%if n.friend_id != -1 %>
        <% count +=1 %>
      <%end %>
    <%end %>
    <% count +=1 %>

    <!-- Poll Winner  -->
    <% if num == count %>

      <% x =0 %>
      <% name ="" %>
      <%Poll.all(event_id: @dinner.id).each do |p| %>
        <%if Vote.all(event_id: @dinner.id, rest_id: p.rest_id).count > x %>
          <% x = Vote.all(event_id: @dinner.id, rest_id: p.rest_id).count %>
          <%name =Restaurant.first(id: p.rest_id).rest_name %>
        <%end %>
      <%end %>
      <br><h5>Winner: <%=name %></h5>
    <%end%>
    <%end %>

  <%end %>

</div>






<!--
//
//
//
    Friends that are attending -->
<br><div class="container">
  <div class="row">
    <div class="col-md-4">
      <% if current_user.id != @dinner.user_id %>
        <br>
        <%end %>
  <h2>Attending</h2><br>
  <%u= User.first(id: @dinner.user_id) %>

    <p>ID:<%=u.id %>, Name: <%=u.name %>, Email: <%=u.email %></p>
    <%Group.all(event_id: @dinner.id).each do |g|%>
      <%if g.friend_id!=-1%>
        <%u = User.first(id: g.friend_id)%>
        <p> ID: <%=u.id%>, Name: <%=u.name%>, Email: <%=u.email%> </p>
      <%end%>
    <%end%>

  </div>





    <!--
//
//
//
    Friends to choose from -->
    <div class="col-md-4">
    <% if current_user.id == @dinner.user_id %>
    <h2>Choose Friends</h2><br>

    <% Friends.all(user_id: current_user.id, are_friends: true).each do |u|%>
      <% string =""%>


        <%s = User.get(u.following_user_id)%>
        <%string +="ID: #{u.id}, Name: #{s.name}, Email: #{s.email}"%>
        <p><%=string%></p>

      <%end%>
    <%end%>

  </div>





    <!--
//
//
//
    Restaurant to choose from -->
    <div class="col-md-4">
      <% if current_user.id == @dinner.user_id %>
        <h2> Pick Restaurant</h2><br>

        <% Restaurant.all.each do |r| %>
        <%string="ID: #{r.id}, Name: #{r.rest_name}" %>
          <p><%=string%></p>

        <%end %>
        <%end%>


    </div>
  </div>
</div><br><br>





