<div class="container" style="padding-top:50px">
  <h1>Create New Dinner</h1>
  <form action="/events/new" method="POST">
    <div class="form-group">
      <label for="dinnerTitle">Title</label>
      <input name="title" type="text" class="form-control" id="dinnerTitle" placeholder="Diner title">
      <small class="form-text text-muted">Choose a title for your dinner</small>
    </div>
    <div class="form-group">
      <label for="dinnerTime">Time</label>
      <input name="d_time" type="time" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label class="form-check-label" for="dinnerDate">Date</label>
      <input name="d_date" type="date" class="form-control" id="dinnerDate">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <% if @my_dinners.count != 0 %>
    <div style="padding-top:50px">
      <h1>My Dinners</h1>
      <% @my_dinners.each do |d|%>
        <%rest_name = "undecided" %>
        <% if d.restaurant_id %>
          <% r = Restaurant.first(id: d.restaurant_id) %>
          <% if r %>
            <% rest_name = r.rest_name %>
          <%end %>
        <%end %>
        <div class="list-group">
          <a href="events/<%=d.id%>" class="list-group-item list-group-item-action"><%=d.title%> (<%=d.event_date.strftime("%B %d, %Y - %I:%M %p")%>) 
            <p style="color:gray">Restaurant: <%=rest_name %></p>
          </a>
        </div>
      <%end%>
    </div>
  <% end %>
  <% if @dinners.count != 0 %>
    <h3>Dinners I'm attending to</h3>
    <%if @dinners%>
      <% @dinners.each do |d|%>
        <%d_tmp = Event.first(id: d.event_id)%>
        <%rest_name = "undecided" %>
        <% if d.event_id %>
          <% r = Event.first(id: d.event_id)%>
          <% if r.restaurant_id %>
            <% name = Restaurant.first(id: r.restaurant_id)%>
            <%if name %>
              <%rest_name = name.rest_name%>
            <%end %>
          <%end %>
        <%end %>
        <a href="events/<%=d_tmp.id%>" > <%=d_tmp.id%> - <%=d_tmp.title%> - <%=d_tmp.event_date.strftime("%B %d, %Y - %I:%M %p")%> - Restaurant: <%=rest_name %></a> </br>
    <%end%>
  <%end%>
<%end%>
</div>
