<div class="container">
  <br><br>
  <h1>Create New Dinner</h1>
  <form action="/events/new" method="POST">
    Title: <input type="text" name="title" required/><br/>
    Time: <input type="time" name="d_time" required/><br>
    Date: <input type="date" name="d_date" required/><br>
    <br><input type="submit" class="btn btn-primary"/>
  </form><br><br>

  <h1>Delete Dinner</h1>
  <form action="/events/delete" method="POST">
    Event: <input type="text" name="name" placeholder="Name" required/><br/>
    <br><input type="submit" class="btn btn-primary"/>
  </form>

    <% if @my_dinners.count != 0 %>
        <br><br>
        <h1>My Dinners</h1>
        <% @my_dinners.each do |d|%>
        <%rest_name = "undecided" %>
      <% if d.restaurant_id %>
        <% r = Restaurant.first(id: d.restaurant_id) %>
        <% if r %>
        <% rest_name = r.rest_name %>
        <%end %>
        <%end %>
        <a href="events/<%=d.id%>" > <%=d.id%> - <%=d.title%> - <%=d.event_date.strftime("%B %d, %Y - %I:%M %p")%> - Restaurant: <%=rest_name %></a></br>

        <%end%>
    <% end %>
    <% if @dinners.count != 0 %>
        <br><br>
        <h3>Dinners I'm attending to</h3>
        <%if @dinners%>
            <% @dinners.each do |d|%>
                <%d_tmp = Event.first(id: d.event_id)%>
                <%rest_name = "undecided" %>
                <% if d.event_id %>
                  <% r = Event.first(id: d.event_id)%>
                  <% if r.restaurant_id %>
                    <% name = Restaurant.first(id: r.restaurant_id)%>
                    <%if name %>
                      <%rest_name = name.rest_name%>
                    <%end %>
                  <%end %>
                <%end %>


        <a href="events/<%=d_tmp.id%>" > <%=d_tmp.id%> - <%=d_tmp.title%> - <%=d_tmp.event_date.strftime("%B %d, %Y - %I:%M %p")%> - Restaurant: <%=rest_name %></a> </br>
            <%end%>
        <%end%>
    <%end%>
    
    <br><br>




</div>
