<!-- Function to add friend-->
<br><br>
<div class="container">
  <form action= "/friends/add" method= "POST">

    Add new friend:       <input type= "text" name= "email" placeholder="Email"/>

    <input type= "submit" value="Submit" class="btn btn-primary"/>
  </form>
</div>


<!-- Function to remove friend-->
<div class="container">
  <form action= "/friends/remove" method= "POST">
    <br>
    Remove friend:       <input type= "text" name= "email" placeholder="Email"/>

    <input type= "submit" value="Submit" class="btn btn-primary"/>
  </form>
</div>
<br>
<br>


<!-- Function to display all users in the database
     Displays user id, user's name, user's email
-->
<div class="container">
  <h1>All
  <%Request_count ="" %>
  <%=Request_count += "#{User.all.count}" %>
  <%Request_count%> Users
  </h1>


  <% User.all.each do |u|%>
    <% string =""%>

    <% string += "ID: #{u.id}, Name: #{u.name}, Email: #{u.email}"%>
    <ul><li><%=string%></li></ul>

  <%end %>


</div>
<br><br>


<!-- Function to display all user's friend in the database by making sure are_friends = true
     Displays user id, Friend's name, Friend's email
-->
<div class="container">
  <h1><%= current_user.name %> has
    <%Request_count ="" %>
    <%=Request_count += "#{Friends.all(user_id: current_user.id, are_friends: true).count}" %>
    <%Request_count%> friends
  </h1>


  <% Friends.all(user_id: current_user.id).each do |u|%>
    <% string =""%>

    <%if u.are_friends == true%>

      <%s = User.get(u.following_user_id)%>
      <%string +="ID: #{u.id}, Name: #{s.name}, Email: #{s.email}"%>
      <ul><li><%=string%></li></ul>

    <%end%>
  <%end%><br>

</div>




