<div class="container">
  <br><br>
  <h1>Friend Requests:
  <%Request_count ="" %>
  <%=Request_count += "#{Friends.all(user_id: current_user.id, are_friends: false).count}" %>
  <%Request_count%>
  </h1>
</div>



<!-- Searches your user's Friend databse to see if under are_friends = false
    False means that it is temp (waiting for approval)
    Display's invite from user with their Friend id, user name and user email
-->

<div class="container">
  <% string =""%>

  <% Friends.all(user_id: current_user.id).each do |u|%>
    <!-- Function to take the user to the add_ans function-->
    <form action= "/friends/add_ans" method= "POST">

        <%s = User.get(u.following_user_id)%>
        <%if u.are_friends == false%>
        <% string =""%>
        
          <%=string +="#{u.id} - #{s.name} - #{s.email} "%><br>

          <!-- Checkbox for Accept and Deny and Submit button-->



        <input type="radio"  name="answer" value='<%= u.id %>'> Accept</label><br>

        <!-- Negative number means Deny-->
        <% no = u.id * -1 %>
        <input type="radio"  name="answer" value='<%= no %>'> Deny</label><br>

        <input type="submit" value="Submit" class="btn btn-primary">
        </form><br><br>

      <%end%>
<%end%>


  <br><p> <%string%></p>

  <br><br>

  
</div>


<div class="container">

  <h1>Event Requests:
    <%Request_count ="" %>
    <%=Request_count += "#{Requests.all(requested_user_id: current_user.id).count}" %>
    <%Request_count%>
  </h1></div>

<div class="container">
  <% Requests.all(requested_user_id: current_user.id).each do |r| %>


    <%e = Event.first(id: r.event_id)%>
    <%u = User.first(id: r.user_id) %>
    <%rest_name = "undecided" %>
    <%if e.restaurant_id%>
      <% name = Restaurant.first(id: e.restaurant_id)%>
      <%if name %>
        <% rest_name = name.rest_name%>
      <%end %>
    <%end%>
    <p><%=e.id%> - <%=e.title%> - Created by: <%=u.name%> -  Restaurant: <%=rest_name %> - <%=e.event_date.strftime("%B %d, %Y - %I:%M %p")%></p>
    <div>
      <form action= "/events/<%=r.event_id%>/response" method= "POST">

        <input type="radio" name="radio-choice"  value="yes" /> Going <br>

        <input type="radio" name="radio-choice"  value="no" /> Not Going<br>
        <input type="submit" value="Submit" class="btn btn-primary" formaction="/events/<%=r.event_id%>/response" formmethod="POST">
      </form>

    </div>

    <br><br>


<%end%>





</div>

