<div class="container">
<h1>Menu info for <%=current_res_user.rest_name %> </h1><br>
  <form action= "/res_menu/add" method= "POST">
        <input type="hidden" name="restaurant_id" value ="<%=current_res_user.id%>"/>

    <br>
    Add dish name:       <input type= "text" name= "dish_name" placeholder="dish name"/>
    <br>
    add dish price: $      <input type= "float" name= "dish_price" placeholder="dish price"/>
    <br>
    <input type= "submit" value="Submit"/>
  </form>

  <form action= "/res_menu/delete" method= "POST">
      
    <br>
    delete dish :       <input type= "integer" name= "dish_id" placeholder="dish id"/>
    <br>
    <input type= "submit" value="Submit"/>
  </form>
</div>

<style>
  body{
    margin-top:20px;
    background:#FAFAFA;
  }

  img.profile-photo-lg{
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
</style>

<br>
<br>




<!-- Function to display all users in the database
     Displays user id, user's name, user's email
-->
<div class="container">
  <% @dish.each do |d|%>

<p><%= d.id%> <%= d.dish_name%>    $<%=d.dish_price%></p>
  <% end %>


</div>
<br><br>
